APP_ENV=testing
APP_KEY=Chnage_This_With_Your_Own_Generated_KEY
APP_DEBUG=true
DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=skillswap_test
DB_USERNAME=skillswap
DB_PASSWORD=skillswap_password
QUEUE_CONNECTION=sync
MAIL_MAILER=array
CACHE_STORE=array
SESSION_DRIVER=array